<a href="https://colab.research.google.com/github/IA2122/entregable-1-paochoa/blob/main/Proyecto1_Entrega.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
import numpy as np
import pandas as pd
from sklearn.ensemble import ExtraTreesClassifier

Cargamos el dataset de entrenamiento.

In [36]:
traindf = pd.read_csv("train.csv")

In [37]:
traindf

           EEG  BP   HR  CIRCULATION  ACTIVITY
0     -1600.00  13   79          317         3
1     -1146.08  20   54          165         2
2     -1263.38  46   67          224         2
3     -2848.93  26  138          554         4
4     -2381.15  85  120          809         4
...        ...  ..  ...          ...       ...
11994 -2970.00  31  188         2599         3
11995 -2776.53  87  156         1521         4
11996   555.00  60  234         1581         2
11997 -3110.00  17  196         1885         3
11998 -9684.44  68  468         9276         5

[11999 rows x 5 columns]

Transformamos los datos para que puedan ser procesados por los algoritmos de predicción.

In [38]:
traindata = traindf.values

Separamos descriptores de clases.

In [39]:
descriptores,clases = traindata[:,:-1],traindata[:,-1]

Construímos el clasificador.

In [40]:
etclass = ExtraTreesClassifier(random_state=84, min_samples_split=5)

Lo entrenamos.

In [41]:
etclass.fit(descriptores, clases)

ExtraTreesClassifier(min_samples_split=5, random_state=84)


Cargamos y procesamos el conjunto de test.

In [42]:
testdf = pd.read_csv("test.csv")
testdata = testdf.values


Realizamos las predicciones.

In [43]:
predicciones = etclass.predict(testdata)


Construímos un dataframe con los resultados y un índice.

In [44]:
soldf = pd.DataFrame([(i+1,int(pred)) for i, pred in enumerate(predicciones)])

Añadímos la cabecera adecuada.

In [45]:
soldf.columns = ['Id','Prediction']


Podemos mostrar el dataframe.

In [46]:
soldf

        Id  Prediction
0        1           4
1        2           2
2        3           3
3        4           2
4        5           0
...    ...         ...
4378  4379           4
4379  4380           2
4380  4381           3
4381  4382           4
4382  4383           3

[4383 rows x 2 columns]

Finalmente guardamos el dataframe en un fichero csv con el formato adecuado.

In [47]:
soldf.to_csv("submission.csv",sep=',',index=False)